#componentclock {
    position: absolute;
    top: 0px;
    left: 0px;
}

#componentclock .date {
    position: relative;
    width: 300px;
}

#componentclock .time {
    position: absolute;
    top: 30px;
}

#componentclock .date span, #componentclock .time span {
    position: absolute;
    width: 100%;
}

#componentclock .date .dayname, #componentclock .date .longdate {
    position: relative;
}

